.header {
    flex: 0 0 auto;
    list-style: none;
    text-decoration: none;
    background-color: $background-color;
    display: flex;
    justify-content: space-around;

    a {
        list-style: none;
        text-decoration: none;
    }

    .site-header {
        display: flex;
        justify-content: space-around;
    }


}

.logo {
    img {
        max-width: 50%;
        border-radius: 50%;
        margin-top: 5px;
    }
}
@media (max-width: 767px) {
    .logo {
        img {
            border-radius: 50%;
            padding: 1em;
            max-width: 60%;
        }
    }
}
