$font-color: #444;
$font-alternative-color: #fff;
$background-alternative-color: #e0fbfc;
$font-family-s: 'Manrope' sans-serif;
$font-family-m: monospace;
$background-color: #deded5;
$border: 1px solid #222;
$font-family-f: 'Oswald', sans-serif;
$Background-dark: #364156; // Mörk bakgrund
$text-color: #ffffff; 
$dark-background: #212D40; // En mörk bakgrundsfärg
$dark-text: #E0E0E0; // En ljus textfärg för kontrast
$dark-link: #BB86FC;