$font-color: #444;
$font-alternative-color: #fff;
$background-alternative-color: #e0fbfc;
$font-family-s: 'Manrope' sans-serif;
$font-family-m: monospace;
$background-color: #eed7c5;
$border: 1px solid #222;
$font-family-f: 'Oswald', sans-serif;
$background-dark: #364156;
$text-color: #fff;
$dark-background: #212d40;
$dark-text: #e0e0e0;
$dark-link: #bb86fc;
