$font-color: #444;
$font-alternative-color: #fff;
$background-alternative-color: #e0fbfc;
$font-family-s: 'Manrope' sans-serif;
$font-family-m: monospace;
$background-color: #deded5;
$border: 1px solid #222;
